body {
      color:#000000;
      background:#3578dd;
      margin: 0px;
      font-family: "Faculty Glyphic", sans-serif;
}
header {
    border-bottom: solid 2px rgb(12, 36, 249);
    padding: 40px;
    font-size: 50px;
    color: rgb(202, 194, 194);
}
section {
   background: rgb(209, 209, 210);
   padding-bottom:70px;
   padding-top: 70px;
   display: flex;
   justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1 {
font-size: 40px;
}
