body {
      color:#D6DEE6;
      background:#2572E8;
      margin: 0px;
}
header {
    border-bottom: solid 2px rgb(12, 36, 249);
    padding: 20px;
    font-size: 40px;
    color: rgb(12, 36, 249);
}
section {
   background: rgb(22, 61, 245);
   padding-bottom:70px;
   padding-top: 70px;
   display: flex;
   justify-content: center;
}
