body {
      color:#D6DEE6;
      background:#2572E8;
      margin: 0px;
}
header {
    border-bottom: solid 2px rgb(12, 36, 249);
    padding: 20px;
    font-size: 30px;
    color: rgb(12, 36, 249);
}